@inject IJSRuntime JS

<div class="row">
    <div class="col-6">
        <MudTextField @bind-Value="FileName" Label="File name" Variant="Variant.Text"></MudTextField>
        <MudTextField T="string" Label="Markdown text" Variant="Variant.Text" @bind-Value="Body" Lines="5" />
        <MudButton Variant="Variant.Filled" @onclick="SaveFile">Save!</MudButton>
    </div>
</div>

@code {
    [Parameter]
    public string Body { get; set; } = "";
    public string FileName { get; set; } = "";

    public async Task SaveFile()
    {
        await JS.InvokeVoidAsync("saveFile", FileName+".md", Body);
    }

}
