################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BlazorTutorial/AzureFunctionsMarkdownFiles/local.settings.json
