@page "/"
@page "/{lang}/index"
@page "/{lang}"

@inject IStringLocalizer<Resource> Localizer


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<br />
Localization test: @Localizer["i18n_Test"]
<br />
Language: @Lang
@code {
    [Parameter]  
    public string Lang { get; set; }
}