@page "/markdownviewer"
@inherits BlazorTutorial.Client.MarkdownViewer

<PageTitle>MarkdownViewer</PageTitle>

<h1>Markdown Viewer</h1>
<div class="row">
    <div class="col-6">
        <textarea id="textarea1" class="form-control" 
            @bind-value="Body" 
            @bind-value:event="oninput"
            rows="10"
            AutoSize="true"
            PlaceHolder="Enter your markdown here">
        </textarea>
    </div>
    <div class="col-6">
        @((MarkupString) Viewer)
    </div>
</div>
